.status {
  margin-bottom: 10px;
}

.board {
  margin: 10px 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 20px;
  height: 80px;
  padding: 0;
  text-align: center;
  width: 80px;
  margin: 2px;
  border-radius: 2px;
  color: transparent;
}

.square:hover {
  background-color: #E3F2FD;
}

.square:focus {
  outline: none;
}

.square-filled {
  background-color: #90CAF9;
  color: #000;
}

.square-filled:hover {
  background-color: #90CAF9;
}

.nav > li {
  display : inline-block;
}

.header {
  border-bottom: 1px solid #EEEEEE;
}

li.active {
  background-color: #EEEEEE;
}

.game {
  margin: 10px;
}

.game-history {
  padding: 20px;
  text-align: center
}

.game-history .square {
  cursor: default;
  height: 40px;
  width: 40px;
}

.game-history .square:hover {
  background-color : transparent;
}

.game-history .square-filled:hover {
  background-color : #90CAF9;
}

.game-board {
  border-right: 1px solid #EEEEEE;
  padding: 20px;
  text-align: center;
}

.moves-list {
  display: block;
  clear: both;
}

.float-right {
  float:right;
}

.flat-button {
  border: none;
  background-color: transparent;
  color: #2196F3;
}

.flat-button:hover {
  border: none;
  background-color: transparent;
  color: #1565C0;;
}

.flat-button:focus {
  outline: none;
}

.text-align-right {
  text-align : right;
}

.row {
  margin: 0px;
}

ol {
  list-style-type: none;
  padding: 0px;
}

.btn {
  background-color: #2196F3;
  color: #FFF;
}

.btn:hover {
  background-color: #1565C0;
}

a {
  color: #2196F3;
}

a:hover {
  color: #1565C0;
}

.game-info {
  text-transform: uppercase;
}